body, html {
    background-color: black;
    color: goldenrod;
    height: 100%;
}

a {
    text-decoration: none;
}

.container {
    background-color: blueviolet;    
}

.container-fluid {
    background-color: red;
}








